<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310686860176-016srrj4a766djsc3i6e3keuv9ptbmu5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310686860176-016srrj4a766djsc3i6e3keuv9ptbmu5</string>
	<key>API_KEY</key>
	<string>AIzaSyBIGmUruh5DmCyk0kUN3mEte4arVIrTlfs</string>
	<key>GCM_SENDER_ID</key>
	<string>310686860176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.remem.vkApp</string>
	<key>PROJECT_ID</key>
	<string>vkter-e01dc</string>
	<key>STORAGE_BUCKET</key>
	<string>vkter-e01dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310686860176:ios:190f47424d7aae79b86915</string>
</dict>
</plist>